FORMAT: 1A
HOST: http://server.aouk.co.uk/aoapi/v1

# AO Core API

AO is a simple API allowing consumers to view products and items.

# AO Core API Root [/]

This resource does not have any attributes. Instead it offers the initial
API affordances in the form of the links in the JSON body.

It is recommend to follow the “url” link values,
[Link](https://tools.ietf.org/html/rfc5988) or Location headers where
applicable to retrieve resources. Instead of constructing your own URLs,
to keep your client decoupled from implementation details.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "product_url": "/products",
            "copy_url": "/copies",
            "price_url": "/prices",
            "picture_url": "/pictures",
        }

## Group Profile

Resources related to profiles in the API.

## Available Profiles [/profiles]

### Profiles [GET]

+ Response 200 (application/json)

        {["all", "test"]}

## Permissions [/profiles/premissions]

### Premissions [GET]

+ Response 200 (application/json)

        {"Delete Product":"allowed","Create Picture":"allowed",
        "Delete Logo":"allowed","Edit Edition":"allowed","Swap Page Objects":"allowed",
        "Delete Page Object":"allowed","Link/ Unlink Copy":"denied",
        "Add/Create Page Object":"allowed","Link Product":"denied",
        "Add Edition product":"allowed","Hide Price":"denied",
        "Link/Unlink Movie":"denied","Edit Movie":"allowed","Edit Product":"allowed",
        "Create Product":"allowed","Edit Page Info":"allowed","Edit Price":"allowed",
        "Edit Copy":"denied","Create Edition":"denied","Move Pages":"denied",
        "Create Copy":"allowed","Link/Unlink Picture":"denied","Create Movie":"allowed",
        "Delete Movie":"allowed","Delete Edition":"denied","Edit Logo":"allowed",
        "Edit Picture":"allowed","Delete Price":"denied","Add Pages":"denied",
        "Archive Product":"allowed","Delete Copy":"allowed","Delete Picture":"allowed",
        "Create Price":"allowed","Create Logo":"allowed","Delete Pages":"denied",
        "Link/Unlink Logo":"denied","Search for Products":"allowed"}

## Group Copy

Resources related to copies in the API.

## Metadata [/copies/metadata]

### Metadata Detail [GET]

+ Response 200 (application/json)

        {
            "profile":"all",
            "fields":{
                "CHAN Flyer":"Boolean",
                "CHAN Consumer Web":"Boolean",
                "User":"String",
                "Category":"INT",
                "FC Brand 1":"Boolean",
                "CHAN All":"Boolean",
                "FCGP":"Boolean",
                "All Companies":"Boolean",
                "Styled":"INT",
                "CHAN Reservations":"Boolean",
                "Copy Text":"TEXT",
                "Language":"INT",
                "Flight Centre":"Boolean",
                "Valid From":"DATE",
                "Status":"INT",
                "Order":"INT",
                "Overnight":"String",
                "Comments":"String",
                "New Field":"Boolean",
                "Mod. Date":"TIMESTAMP",
                "FC Region 1":"Boolean",
                "CHAN Brochure":"Boolean",
                "CHAN Internal":"Boolean",
                "Copy Name":"String",
                "Header":"String",
                "Flight Centre Retail":"Boolean",
                "CHAN Agent Web":"Boolean",
                "Day":"String",
                "Valid To":"DATE",
                "Page Ref":"String"},
            "helperSelections":{
                "Copy Name":[
                    "IH.address", "IH.bonus",
                    "IH.class1",
                    "IH.class2",
                    "IH.conditions",
                    "IH.connections",
                    "IH.currency",
                    "IH.day1",
                    "IH.day2","IH.departs","IH.description","IH.dining","IH.distances","IH.duration","IH.electricity","IH.events","IH.experience","IH.favourite","IH.get in the know","IH.getting around","IH.highlights","IH.history culture","IH.includes","IH.includes2","IH.insidertip1","IH.insidertip2","IH.itinerary","IH.language","IH.llifestyle","IH.local customs","IH.map ref","IH.metro","IH.name","IH.natural wonders","IH.note","IH.open","IH.operates","IH.optional","IH.overview","IH.overview brox","IH.overview2","IH.property features","IH.rail pass","IH.rating children","IH.rating max pax","IH.room features","IH.service","IH.ship","IH.shopping","IH.star rating","IH.stopover note","IH.tag line","IH.things to do","IH.time","IH.transfer","IH.travel advice","IH.validity","IH.what to pack","IH.when to go"]},
            "pickList":{
                "Status":["Pending","Available","Expired"],
                "brand":["All","AUFC","AUSF"],
                "Styled":["Quark Tags","InDesign Tags","HTML Tags","Markdown"]}
        }

## Copies Collection [/copies?limit={limit_num}&offset={offset_num}&profile={profile_name}]

+ length
+ offset
+ total
+ copies - An array of Copy objects.

+ Parameters
    + limit_num (optional, number, `10`) ... Maximum number of posts to retrieve, default value is 10
    + offset_num (optional, number, `0`) ... offset
    + profile_name (optional, string, `hotels`) ... profile

### List All Copies [GET]

+ Response 200 (application/json)

    + Headers
        
            Link: </copies?limit=10&offset=10&profile=hotels>; rel="next"
            
    + Body

                {
                    "offset": 0,
                    "limit":10,
                    "total": 3,
                    "content": [{
                            "id": 1,
                            "name": "copy name 1",
                            "fields": [
                                "Content" : "copy example 1",
                                "Language" : "en",
                                "Comments" : ""  
                            ]
                    }, {
                            "id": 2,
                            "name": "copy name 2",
                            "fields": [
                                "Content" : "copy example 2",
                                "Language" : "en",
                                "Comments" : ""  
                            ]
                    }, {
                            "id": 3,
                            "name": "copy name 3",
                            "fields": [
                                "Content" : "copy example 3",
                                "Language" : "en",
                                "Comments" : ""  
                            ]
                    }]
                }

## Retrive a Copy by id [/copies/{copy_id}?profile={profile_name}]

+ id - serial number of copy.
+ name - name of copy.
+ fields - An array of copy fields.

+ Parameters
    + copy_id (required, number, `1`) ... Serial Number of the Copy
    + profile_name (optional, string, `hotels`) ... profile

### View a Copy Detail [GET]
+ Response 200 (application/json)

        {
            "id": 1,
            "name": "copy_name_1",
            "fields": [
                "Content" : "copy example 1",
                "Language" : "en",
                "Comments" : ""  
            ]
        }

## Retrive a Copy by name [/copies/{copy_name}/name?profile={profile_name}]

May return many copies!

+ id - serial number of copy.
+ name - name of copy.
+ fields - An array of copy fields.

+ Parameters
    + copy_name (required, string, `copy name 1`) ... Name of the Copy
    + profile_name (optional, string, `hotels`) ... profile

### View a Copy Detail [GET]
+ Response 200 (application/json)

        {
            "id": 1,
            "name": "copy name 1",
            "fields": [
                "Content" : "copy example 1",
                "Language" : "en",
                "Comments" : ""  
            ]
        }

## Create a new Copy [/copies]

### Create a New Copy [POST]

+ Request (application/json)

    + Body
        
            {
                "name": "copy name 4",
                "fields": [
                    "Content" : "copy example 4",
                    "Language" : "en",
                    "Comments" : ""  
                ]
            }
    
+ Response 201

    + Headers
            
            Location: /copies/4

## Update/Delete a Copy [/copies/{copy_id}]

+ Parameters
    + copy_id (required, number, `3`) ... Serial Number of Copy

### Update a Copy [PUT]

+ Request (application/json)

    + Body
    
            {
                "fields": [
                    "Content" : "copy example 3 Updated"
                ]
            }
        
+ Response 204

    + Headers
    
            Location: /copies/3

### Delete a Copy [DELETE]

+ Response 204

## Group Product

Resources related to products in the API.

## Products Collection [/products?limit={limit_num}&offset={offset_num}&profile={profile_name}]

+ Parameters
    + limit_num (optional, number, `10`) ... Maximum number of posts to retrieve
    + offset_num (optional, number, `0`) ... offset
    + profile_name (optional, string, `hotels`) ... profile

### List All Products [GET]

+ Response 200 (application/json)

    + Headers
    
            Link: </products?offset=10>; rel="next"
            
    + Body
    
            {
                "length": 10,
                "offset": 0,
                "total": 3000,
                "content": [{
                    "id": 1,
                    "name": "Test Product 1",
                    "fields":[
                        "Description": "Description",
                        "Supplier": "Supplier"]
                    },{
                    "id": 2,
                    "name": "Test Product 2",
                    "fields":[
                        "Description": "Description",
                        "Supplier": "Supplier"]
                    },{
                    "id": 3,
                    "name": "Test Product 3",
                    "fields":[
                        "Description": "Description",
                        "Supplier": "Supplier"]
                    }]
            }

## Product [/products/{sku_id}]

+ Parameters
    + sku_id (required, number, `1`) ... ID of the Product

### View a Product Detail [GET]

+ Response 200 (application/json)

        {
            "id": 1,
            "name": "Test Product 1",
            "fields":[
                "Description": "Description",
                "Supplier": "Supplier"
            ]
        }

### Update a Product [PUT]

+ Request (application/json)

        {
        "fields":[
                "Description": "Description Updated"
            ]
        }
        
+ Response 204

    + Headers
    
            Location: /products/3
            
### Delete a Product [DELETE]

+ Response 204

## Create a Product [/products]

### Create a Product [POST]

+ Request (application/json)

        {
            "name": "Test Product 4",
            "fields":[
                "Description": "Description",
                "Supplier": "Supplier"
            ]
        }
        
+ Response 201

    + Headers
    
            Location: /products/4

## Group Product Link

## All Links [/products/{sku_id}/links]

+ Parameters
    + sku_id (required, number) ... ID of the Product

### List All Links [GET]

+ Response 200 (application/json)

        {
            "owner": "Test Product 1",
            "total": 2,
            "links": [{
                "type": "copy",
                "id": 1,
                "name": "copy_name_1"
            }, {
                "type": "price",
                "id": 5,
                "name": "GP-01"
            }]
        }
        
### Link to Product [POST]

+ Request (application/json)

        {
            "links": [{
                "type": "copy",
                "id": 1
            }, {
                "type": "price",
                "id": 5
            }]
        }
        
+ Response 201

    + Headers
    
            Location: /products/4/links

### UnLink from Product [DELETE]

+ Request (application/json)

        {
            "links": [{
                "type": "copy",
                "id": 1
            }]
        }
        
+ Response 204

    + Headers
    
            Location: /products/4/links

## Copy Links [/products/{sku_id}/copies?profile={profile_name}]

+ Parameters 
    + profile_name (optional, string)

### List All linked Copies [GET]

+ Response 200 (application/json)

        {
            "owner": "Test product 1",
            "total": 2,
            "copies": [{
                "id": 1,
                "name": "copy name 1",
                "fields": [
                    "Content" : "copy example 1",
                    "Language" : "en",
                    "Comments" : ""  
                ]
            }, {
                "id": 2,
                "name": "copy name 2",
                "fields": [
                    "Content" : "copy example 2",
                    "Language" : "en",
                    "Comments" : ""  
                ]
            } ]
        }

### Create and Link a New Copy [POST]

+ Request (application/json)

        {
            "copies": [{
                "name": "copy name 5",
                "fields": [
                    "Content" : "copy example 5",
                    "Language" : "en",
                    "Comments" : ""  
                ]
            }, {
                "name": "copy name 6",
                "fields": [
                    "Content" : "copy example 6",
                    "Language" : "en",
                    "Comments" : ""  
                ]
            } ]
        }

+ Response 201 

    + Headers
    
            Location:  /products/{sku_id}/copies

### UnLink All Copies [DELETE]

+ Response 204

## Group Prices

Resources related to Prices in the API.

## Prices Collection [/prices]

### List All Prices [GET]

+ Response 200 (application/json)

        {"total":3074061,"offset":0,"limit":10,"profile":"all","content":[
        {"id":1,"name":"GT.2A-1806","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2012-12-31","Type":"DB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":2,"name":"GT.2A-1807","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1807","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-01","Type":"DB","Travel To Date":"2013-01-01","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":3,"name":"GT.2A-1808","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1808","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-02","Type":"DB","Travel To Date":"2013-01-02","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":4,"name":"GT.2A-1809","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1809","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-03","Type":"DB","Travel To Date":"2013-01-03","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":5,"name":"GT.2A-1810","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1810","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-04","Type":"DB","Travel To Date":"2013-01-04","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":6,"name":"GT.2A-1811","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1811","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-05","Type":"DB","Travel To Date":"2013-01-05","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":7,"name":"GT.2A-1812","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1812","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-06","Type":"DB","Travel To Date":"2013-01-06","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":8,"name":"GT.2A-1813","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1813","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-07","Type":"DB","Travel To Date":"2013-01-07","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":9,"name":"GT.2A-1814","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1814","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-08","Type":"DB","Travel To Date":"2013-01-08","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":10,"name":"GT.2A-1815","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1815","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2013-01-09","Type":"DB","Travel To Date":"2013-01-09","Show Prices":true,"Inactive":false,"Validity":""}}]}

## Price [/prices/{id}]

+ Parameters
    + id (required, number, `1`) ... ID of the Price

### View a Price Detail [GET]

+ Response 200 (application/json)

        {"id":1,"name":"GT.2A-1806","fields":{"Price Format":0,"Type":"DB","User":"GTA","Mod. Date":1357611825000,"Price Name":"GT.2A-1806","Show Prices":true,"Validity":"","Comments":"","Inactive":false,"Travel To Date":"2012-12-31","Price":303.00,"Travel From Date":"2012-12-31"}}

### Update a Price [PUT]

+ Request (application/json)

        { 
            "fields":{
                "Comments":"change",
                "Price":303.00,
                "Price Format":0,
                "Price Name":"GT.2A-1806",
                "Travel From Date":"2012-12-31",
                "Type":"DB",
                "Travel To Date":"2012-12-31",
                "Show Prices":true,
                "Inactive":false,
                "Validity":""}
        }
+ Response 204

    + Headers
    
            Location: /prices/2

### Delete a Price [DELETE]

+ Response 204

## Create a Price [/prices/product/{id}]

+ Parameters
    + id (required, number, `55`) ... ID of the Price owner (Product ID)

### Create a Price [POST]

+ Request (application/json)

        { 
            "name":"GT.2A-1806",
            "fields":{
                "Comments":"",
                "Price":303.00,
                "Price Format":0,
                "Price Name":"GT.2A-1806",
                "Travel From Date":"2012-12-31",
                "Type":"DB",
                "Travel To Date":"2012-12-31",
                "Show Prices":true,
                "Inactive":false,
                "Validity":""}
        }
        
+ Response 201

    + Headers
    
            Location: /prices/4


## Prices by Name [/prices/{name}/name]

+ Parameters
    + name (required, string, `GT.2A-1806`) ... name of the Price

### List Prices [GET]

+ Response 200 (application/json)

        {"total":4700,"offset":0,"limit":10,"profile":"all","content":[
        {"id":1,"name":"GT.2A-1806","fields":{"Comments":"","Price":303.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611825000,"User":"GTA","Travel From Date":"2012-12-31","Type":"DB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":93,"name":"GT.2A-1806","fields":{"Comments":"","Price":196.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611826000,"User":"GTA","Travel From Date":"2012-12-31","Type":"DB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":163,"name":"GT.2A-1806","fields":{"Comments":"","Price":286.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611826000,"User":"GTA","Travel From Date":"2012-12-31","Type":"DB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":313,"name":"GT.2A-1806","fields":{"Comments":"","Price":167.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611827000,"User":"GTA","Travel From Date":"2012-12-31","Type":"DB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":433,"name":"GT.2A-1806","fields":{"Comments":"","Price":124.50,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611827000,"User":"GTA","Travel From Date":"2012-12-31","Type":"SB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":524,"name":"GT.2A-1806","fields":{"Comments":"","Price":382.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611828000,"User":"GTA","Travel From Date":"2012-12-31","Type":"DB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":637,"name":"GT.2A-1806","fields":{"Comments":"","Price":130.50,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611828000,"User":"GTA","Travel From Date":"2012-12-31","Type":"SB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":718,"name":"GT.2A-1806","fields":{"Comments":"","Price":122.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611829000,"User":"GTA","Travel From Date":"2012-12-31","Type":"SB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":809,"name":"GT.2A-1806","fields":{"Comments":"","Price":130.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611829000,"User":"GTA","Travel From Date":"2012-12-31","Type":"DB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}},
        {"id":895,"name":"GT.2A-1806","fields":{"Comments":"","Price":179.00,"Price Format":0,"Price Name":"GT.2A-1806","Mod. Date":1357611829000,"User":"GTA","Travel From Date":"2012-12-31","Type":"DB","Travel To Date":"2012-12-31","Show Prices":true,"Inactive":false,"Validity":""}}
        ]}

## Group Pictures
Resources related to pictures in the API.

## Pictures Collection [/pictures]

### List All Pictures [GET]

+ Response 200 (application/json)

        {"total":44641,"offset":0,"limit":10,"profile":"all","content":[
        {"id":3,"name":"4826576-2400x1618.jpg","fields":{"Comments":"Importer","File Name":"4826576-2400x1618.jpg","Low Res. Path":":ao:ImageImportV:upload_dir:4826576-2400x1618.jpg","Status":"Unlinked","Image Name":"4826576-2400x1618.jpg","Mod. Date":1360630240000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6867,"name":"ZB743_213181_2820_Hero.jpg","fields":{"Comments":"DLP4","File Name":"ZB743_213181_2820_Hero.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"ZB743_213181_2820_Hero","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6868,"name":"ZB743_213181_2820_Filler.jpg","fields":{"Comments":"DLP4","File Name":"ZB743_213181_2820_Filler.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"ZB743_213181_2820_Filler","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6869,"name":"B1120_120893_000741_Hero.jpg","fields":{"Comments":"DLP4","File Name":"B1120_120893_000741_Hero.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"B1120_120893_000741_Hero","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6870,"name":"B1120_120893_000741_Filler.jpg","fields":{"Comments":"DLP4","File Name":"B1120_120893_000741_Filler.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"B1120_120893_000741_Filler","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6871,"name":"ZB5003_190434_0008_Hero.jpg","fields":{"Comments":"DLP4","File Name":"ZB5003_190434_0008_Hero.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"ZB5003_190434_0008_Hero","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6872,"name":"ZB5003_190434_0008_Filler.jpg","fields":{"Comments":"DLP4","File Name":"ZB5003_190434_0008_Filler.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"ZB5003_190434_0008_Filler","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6873,"name":"B1337_158732_0010_Hero.jpg","fields":{"Comments":"DLP4","File Name":"B1337_158732_0010_Hero.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"B1337_158732_0010_Hero","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6874,"name":"B1337_158732_0010_Filler.jpg","fields":{"Comments":"DLP4","File Name":"B1337_158732_0010_Filler.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"B1337_158732_0010_Filler","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}},
        {"id":6875,"name":"ZB743_213181_1752_Hero.jpg","fields":{"Comments":"DLP4","File Name":"ZB743_213181_1752_Hero.jpg","Low Res. Path":"internal","Status":"Unlinked","Image Name":"ZB743_213181_1752_Hero","Mod. Date":1360631716000,"Target Channel":"All","Royalty":"Free","Image Category":"Destination","Image Supplier":"In-house","Image Size":"","Image Height":"","Image Width":"","Caption":"","Copyright":""}}]}

### Create a New Picture [POST]

+ Request (application/json)

        {
            "name":"ZB743_213181_2820_Hero.jpg",
            "fields":{
                "Comments":"DLP4",
                "File Name":"ZB743_213181_2820_Hero.jpg",
                "Low Res. Path":"internal",
                "Status":"Unlinked",
                "Image Name":"ZB743_213181_2820_Hero",
                "Target Channel":"All",
                "Royalty":"Free",
                "Image Category":"Destination",
                "Image Supplier":"In-house",
                "Image Size":"",
                "Image Height":"",
                "Image Width":"",
                "Caption":"",
                "Copyright":""}
        }

+ Response 201

    + Headers
    
            Location: /pictures/6867

## Picture [/pictures/{id}]

+ Parameters
    + id (required, number,`6867`) ... ID of the picture

### View a Picture Detail [GET]

+ Response 200 (application/json)

        {
            "id":6867,
            "name":"ZB743_213181_2820_Hero.jpg",
            "fields":{
                "Comments":"DLP4",
                "File Name":"ZB743_213181_2820_Hero.jpg",
                "Low Res. Path":"internal",
                "Status":"Unlinked",
                "Image Name":"ZB743_213181_2820_Hero",
                "Mod. Date":1360631716000,
                "Target Channel":"All",
                "Royalty":"Free",
                "Image Category":"Destination",
                "Image Supplier":"In-house",
                "Image Size":"",
                "Image Height":"",
                "Image Width":"",
                "Caption":"",
                "Copyright":""}
        }

### Update a Picture [PUT]

+ Request (application/json)

        {
            "fields":{
                "Comments":"DLP4",
                "Status":"Unlinked",
                "Target Channel":"All",
                "Royalty":"Free",
                "Image Category":"Destination",
                "Image Supplier":"In-house",
                "Image Size":"",
                "Image Height":"",
                "Image Width":"",
                "Caption":"",
                "Copyright":""}
        }
+ Response 204

    + Headers
    
            Location: /pictures/6867

### Delete a Picture [DELETE]

+ Response 204 

## Group Movies
Resources related to movies in the API.

## Movies [/movies]

### List All Movies [GET]

+ Response 200 (application/json)

        {
            "total":1,
            "offset":0,
            "limit":10,
            "profile":"all",
            "content":[
            {
                "id":1, 
                "name": "test", 
                "fields":{"Status":0,
                    "Comments":"",
                    "Movie Name":"Test.mov",
                    "Low Res. Path":"/content/Test.mov"
                }
            }]
        }

## Group Editions
Resources related to editions in the API.

## Editions [/editions]

### List All Editions [GET]

+ Response 200 (application/json)

    + Headers

            Link: <http://127.0.0.1:18080/aoapi/v1/editions?offset=10&limit=10&profile=all>; rel="next"

    + Body

            {
            "total":30,
            "offset":0,
            "limit":10,
            "profile":"all",
            "content":[
                {"id":2,"name":"IH.Europe Essentials 2013-14","fields":{"Comments":"","Edition ID":"IH.Europe Essentials 2013-14","Publication Name":"Brochure","Mod. Date":"2013-05-21","No. of Pages":100,"Starting Page":1,"Edition Status":"History","Edition Prefix":"IH."}},
                {"id":4,"name":"IH.Europe Essentials 2013-14-AO","fields":{"Comments":"","Edition ID":"IH.Europe Essentials 2013-14-AO","Publication Name":"Brochure","Mod. Date":"2013-05-22","No. of Pages":100,"Starting Page":1,"Edition Status":"History","Edition Prefix":"IH."}},
                {"id":5,"name":"IH.Hawaii 2013-14","fields":{"Comments":"","Edition ID":"IH.Hawaii 2013-14","Publication Name":"Brochure","Mod. Date":"2013-05-27","No. of Pages":50,"Starting Page":1,"Edition Status":"Current","Edition Prefix":"IH."}},
                {"id":6,"name":"IH.Hawaii 2013-14-AO","fields":{"Comments":"","Edition ID":"IH.Hawaii 2013-14-AO","Publication Name":"Brochure","Mod. Date":"2013-05-27","No. of Pages":46,"Starting Page":1,"Edition Status":"Current","Edition Prefix":"IH."}},
                {"id":7,"name":"IH.South Pacific 2013-14","fields":{"Comments":"","Edition ID":"IH.South Pacific 2013-14","Publication Name":"Brochure","Mod. Date":"2013-05-27","No. of Pages":90,"Starting Page":1,"Edition Status":"Current","Edition Prefix":"IH."}},
                {"id":11,"name":"IH.Northern Territory 2013-14","fields":{"Comments":"","Edition ID":"IH.Northern Territory 2013-14","Publication Name":"Brochure","Mod. Date":"2013-07-17","No. of Pages":46,"Starting Page":1,"Edition Status":"History","Edition Prefix":"IH."}},
                {"id":12,"name":"IH.Northern Territory 2013-14-AO","fields":{"Comments":"","Edition ID":"IH.Northern Territory 2013-14-AO","Publication Name":"Brochure","Mod. Date":"2013-07-17","No. of Pages":46,"Starting Page":1,"Edition Status":"History","Edition Prefix":"IH."}},
                {"id":16,"name":"IH.Japan South Korea 2013-14","fields":{"Comments":"","Edition ID":"IH.Japan South Korea 2013-14","Publication Name":"Brochure","Mod. Date":"2013-07-22","No. of Pages":26,"Starting Page":1,"Edition Status":"Current","Edition Prefix":"IH."}},
                {"id":17,"name":"IH.Japan South Korea 2013-14-AO","fields":{"Comments":"","Edition ID":"IH.Japan South Korea 2013-14-AO","Publication Name":"Brochure","Mod. Date":"2013-07-22","No. of Pages":26,"Starting Page":1,"Edition Status":"Current","Edition Prefix":"IH."}},
                {"id":18,"name":"IH.New South Wales 2013-14","fields":{"Comments":"","Edition ID":"IH.New South Wales 2013-14","Publication Name":"Brochure","Mod. Date":"2013-07-23","No. of Pages":50,"Starting Page":1,"Edition Status":"Current","Edition Prefix":"IH."}}
            ]
            }


## Edition's Pages [/editions/{id}/pages]

### List All Edition's Pages [GET]

+ Response 200 (application/json)

        {
            "total":100,
            "offset":0,
            "limit":10,
            "profile":"all",
            "content":[
                {"id":13,"name":"Contents","fields":{"Page No.":1,"Comments":"Contents + image","File Name":"Edit2Pg13","Page Name":"Contents","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":14,"name":"Europe Essentials","fields":{"Page No.":2,"Comments":"Image, Editorial - Destination Copy","File Name":"Edit2Pg13","Page Name":"Europe Essentials","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":15,"name":"Holiday Suggestions","fields":{"Page No.":3,"Comments":"Grecian delights","File Name":"Edit2Pg13","Page Name":"Holiday Suggestions","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":16,"name":"Flying there","fields":{"Page No.":4,"Comments":"Singapore Stop-over","File Name":"Edit2Pg13","Page Name":"Flying there","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":17,"name":"Cruising","fields":{"Page No.":5,"Comments":"Carnival Legend Ã Baltic Wonders & St Petersburg","File Name":"Edit2Pg17","Page Name":"Cruising","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":18,"name":"Cruising","fields":{"Page No.":6,"Comments":"Celebrity Silhouette Ã Adriatic Cruise","File Name":"Edit2Pg17","Page Name":"Cruising","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":19,"name":"Cruising","fields":{"Page No.":7,"Comments":"Norwegian Jade Ã Eastern Mediterranean Cruise ","File Name":"Edit2Pg17","Page Name":"Cruising","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":20,"name":"Cruising","fields":{"Page No.":8,"Comments":"ms Nieuw Amsterdam Ã Magic of the Mediterranean","File Name":"Edit2Pg17","Page Name":"Cruising","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":21,"name":"Car Hire","fields":{"Page No.":9,"Comments":"Hertz","File Name":"Edit2Pg17","Page Name":"Car Hire","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}},
                {"id":22,"name":"Rail","fields":{"Page No.":10,"Comments":"Eurail","File Name":"Edit2Pg17","Page Name":"Rail","Status":"Pagination","Page Open By":"","Page Header 1":"","Page Header 2":"","Page Footer":"","Page Section":""}}
                ]
        }
        